node-red/flows.json
[
  {
    "id": "609f7f62a8fe88ae",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "2e8fc3944b29bed3",
    "type": "inject",
    "z": "609f7f62a8fe88ae",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 80,
    "wires": [["2cdfa65c7a2c3be2"]]
  },
  {
    "id": "d5ca4bd3e6c30a3c",
    "type": "inject",
    "z": "609f7f62a8fe88ae",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 140,
    "wires": [["ee8d2971740ab3ca"]]
  },
  {
    "id": "385af499a71a2196",
    "type": "debug",
    "z": "609f7f62a8fe88ae",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 80,
    "wires": []
  },
  {
    "id": "a0763e42f26f1e7d",
    "type": "debug",
    "z": "609f7f62a8fe88ae",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 140,
    "wires": []
  },
  {
    "id": "2cdfa65c7a2c3be2",
    "type": "node1",
    "z": "609f7f62a8fe88ae",
    "name": "node 1 - 1",
    "x": 430,
    "y": 80,
    "wires": [["385af499a71a2196"]]
  },
  {
    "id": "ee8d2971740ab3ca",
    "type": "node2",
    "z": "609f7f62a8fe88ae",
    "name": "node 2 - 1",
    "x": 430,
    "y": 140,
    "wires": [["a0763e42f26f1e7d"]]
  },
  {
    "id": "a3c43e110d3e3920",
    "type": "inject",
    "z": "609f7f62a8fe88ae",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 200,
    "wires": [["c58df71482d5b0c0"]]
  },
  {
    "id": "3c8fb3f8a08b529f",
    "type": "inject",
    "z": "609f7f62a8fe88ae",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 260,
    "wires": [["d6f117a226e2e0ea"]]
  },
  {
    "id": "779914af6f1ef673",
    "type": "debug",
    "z": "609f7f62a8fe88ae",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 200,
    "wires": []
  },
  {
    "id": "0193b3d75bc7434b",
    "type": "debug",
    "z": "609f7f62a8fe88ae",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 260,
    "wires": []
  },
  {
    "id": "c58df71482d5b0c0",
    "type": "node1",
    "z": "609f7f62a8fe88ae",
    "name": "node 1 - 2",
    "x": 430,
    "y": 200,
    "wires": [["779914af6f1ef673"]]
  },
  {
    "id": "d6f117a226e2e0ea",
    "type": "node2",
    "z": "609f7f62a8fe88ae",
    "name": "node 2 - 2",
    "x": 430,
    "y": 260,
    "wires": [["0193b3d75bc7434b"]]
  },
  {
    "id": "0cd24a34ce58ce0d",
    "type": "inject",
    "z": "609f7f62a8fe88ae",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 320,
    "wires": [["0699454ae12be17e"]]
  },
  {
    "id": "321e3cf84a3e9b00",
    "type": "inject",
    "z": "609f7f62a8fe88ae",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 380,
    "wires": [["97bede1b4aca7c0e"]]
  },
  {
    "id": "7d6c9a9c821d255a",
    "type": "debug",
    "z": "609f7f62a8fe88ae",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 320,
    "wires": []
  },
  {
    "id": "78a7926dc00824b5",
    "type": "debug",
    "z": "609f7f62a8fe88ae",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 380,
    "wires": []
  },
  {
    "id": "0699454ae12be17e",
    "type": "node1",
    "z": "609f7f62a8fe88ae",
    "name": "node 1 - 1",
    "x": 430,
    "y": 320,
    "wires": [["7d6c9a9c821d255a"]]
  },
  {
    "id": "97bede1b4aca7c0e",
    "type": "node2",
    "z": "609f7f62a8fe88ae",
    "name": "node 2 - 1",
    "x": 430,
    "y": 380,
    "wires": [["78a7926dc00824b5"]]
  },
  {
    "id": "c978a199ee0ba111",
    "type": "inject",
    "z": "609f7f62a8fe88ae",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 440,
    "wires": [["f3f42a249167fe3f"]]
  },
  {
    "id": "ff57c9d7e5d658c8",
    "type": "inject",
    "z": "609f7f62a8fe88ae",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 500,
    "wires": [["e3c825da01bf83e2"]]
  },
  {
    "id": "87de270bf9d77943",
    "type": "debug",
    "z": "609f7f62a8fe88ae",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 440,
    "wires": []
  },
  {
    "id": "d869ec403e9bf5ec",
    "type": "debug",
    "z": "609f7f62a8fe88ae",
    "name": "debug 8",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 500,
    "wires": []
  },
  {
    "id": "f3f42a249167fe3f",
    "type": "node1",
    "z": "609f7f62a8fe88ae",
    "name": "node 1 - 2",
    "x": 430,
    "y": 440,
    "wires": [["87de270bf9d77943"]]
  },
  {
    "id": "e3c825da01bf83e2",
    "type": "node2",
    "z": "609f7f62a8fe88ae",
    "name": "node 2 - 2",
    "x": 430,
    "y": 500,
    "wires": [["d869ec403e9bf5ec"]]
  }
]
